.select{
       border: none;
}
.container{
       margin-right: auto;
       margin-left: auto;
       padding-left: 15px;
       padding-right: 15px;
       width: 900px;
}
ul li{
       list-style: none;
}
.content_page {
       margin-bottom: 20px;
       background-color: #fff;
       border: 1px solid #e8e8e8;
       border-radius: 4px;
       -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
       box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
       /*box-shadow: #337ab7;*/
}

.collapse ul li:hover{
       background-color: #e7e7e7;
       border-radius: 3px;
}
.sub-menu{
       display: none;
       height: auto;
       width: 300px;

       /* border: 1px solid black; */
}
.collapse ul li:hover .sub-menu{
       display: block;
       position: absolute;
       background-color: #d5d5d5;
}
.collapse ul li:hover .sub-menu ul{
       display: block;
}
.collapse ul li:hover .sub-menu ul li{
       margin: 15px 0px 15px -15px;
       width: 250px;
       height: auto;
       border-bottom: 1px dotted #fff;
       background: transparent;
       border-radius: 0;
       text-align:  left;
}
.collapse ul li:hover .sub-menu ul li:hover{
       width: 250px;
       height: auto;
}
.medium_thum {
       color:#333333;
       display:inline;
       font-size: 14px;
       line-height:18.2px;
}
img {
       max-width: 100%;
       height: auto;
}
img {
       vertical-align: middle;
}
img {
       border: 0;
}
.item_sach{
       color:#333333;
       font-size:14px;
       line-height:18.2px;
       margin:0px 0px 30px;
       padding:0px 15px;   
}
.title_sach{
       color:#555555;
       display:inline;
       font-family:Helvetica Neue;
       font-size:13px;
       line-height:16.9px;
}
.containner{
       color:#333333;
       font-size:14px;
       line-height:18.2px;
       margin:0px 239.4px 0px 239.389px;
       padding:0px 15px;
}
.line{
       border-bottom: 1px solid #d5d5d5;
}
.til_noti{
       background-color:#dff0d8;
       border-radius:4px;
       color:#3c763d;
       font-size:14px;
       line-height:18.2px;
       margin:20px 0px;
       padding:15px;
}
.hleft{
       float: left;
       width: 215px;
}
.hcenter{
       width: calc(100% - 215px);
       display: flex;
       align-items: center;
       height: 115px;
}
.hcenter-child{
       float:left;
}
.hcenter-child-search{
       float:right;
       margin-left: 30px;
}
#search {
       border: 1px solid #e5e5e5;
       border-radius: 3px;
       overflow: hidden;
       margin-top: 10px;
       background-color: #fff;
       display: table;
       width: 100%;
}
#search input {
       line-height: 35px;
       width: calc(100% - 40px);
       border: 0;
       padding: 0 15px;
       display: inline-block;
       position: relative;
       float: left;
}
#search button {
       color: #fff;
       border: 0;
       width: 35px;
       line-height: 35px;
       font-size: 16px;
       background-color: #337ab7;
       float: right;
}
.main_menu a {
       color: #337ab7;
       display: block;
       line-height: 35px;
       padding: 0 15px;
}
.main_menu a:hover,.main_menu .current-menu-item > a{
       background-color: #f3f3f3;
}
.content_page_online{
       background-color: #eee;
}
.content_p_al{
       text-align: justify;
}
a.nav_ck {
       background-color: #337ab7;
       color: #fff;
       display: inline-block;
       line-height: 35px;
       padding: 0 15px;
       border-radius: 3px;
       max-width: 250px;
       font-size: 13px;
       width: 150px;
}
.box_dropdown{
       display: inline-block;
       position: relative;
       margin: 0 10px;
}
.main_menu ul.sub-menu {
       position: absolute;
       z-index: 10;
       background-color: #fff;
       left: 0;
       min-width: 250px;
       width: 250px;
       border: 1px solid #ccc;
       display: none;
       box-shadow: 0 0 2px #ccc;
       padding-top: 10px;
       padding-bottom: 10px;
}
.main_menu .sub-menu li{
       border: 0;
       display: block;
       margin: 0;
       text-align: left;
}
.main_menu li{
       position: relative;
}
.main_menu li li a {
       color: #000;
       display: block;
       margin: 0;
       padding: 0 15px;
       line-height: 25px;
       font-size: 12px;
}
.box_dropdown ul{
       height: auto;
       max-height: 388px;
       overflow-x: hidden;
       position: absolute;
       top: 100%;
       left: 0;
       z-index: 1000;
       display: none;
       float: left;
       min-width: 160px;
       padding: 5px 0;
       margin: 2px 0 0;
       font-size: 14px;
       text-align: left;
       list-style: none;
       background-color: #fff;
       -webkit-background-clip: padding-box;
       background-clip: padding-box;
       border: 1px solid #ccc;
       border: 1px solid rgba(0,0,0,.15);
       border-radius: 4px;
       -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
       box-shadow: 0 6px 12px rgba(0,0,0,.175);
}.box_chhr hr{
       margin-bottom: 10px;
       margin-top: 10px;
}
.item_ch a{
       color: #337ab7;
}
.item_ch a:hover{
       text-decoration: underline;
}
a:hover{
       color: #0099e6;
}
.hright {
       float: right;
       width: 215px;
       text-align: right;
}
#search {
       border: 1px solid #e5e5e5;
       border-radius: 3px;
       overflow: hidden;
       margin-top: 10px;
       background-color: #fff;
       display: table;
       width: 100%;
}
#search input {
       line-height: 35px;
       width: calc(100% - 40px);
       border: 0;
       padding: 0 15px;
       display: inline-block;
       position: relative;
       float: left;
}
#search button {
       color: #fff;
       border: 0;
       width: 35px;
       line-height: 35px;
       font-size: 16px;
       background-color: #337ab7;
       float: right;
}
.main_menu a {
       color: #337ab7;
       display: block;
       line-height: 35px;
       padding: 0 15px;
}
.main_menu a:hover,.main_menu .current-menu-item > a{
       background-color: #f3f3f3;
}
.main_menu li {
       display: inline-block;
       margin: 0;
}
.box_dropdown ul a{
       display: block;
       padding: 3px 20px;
       clear: both;
       font-weight: 400;
       line-height: 1.42857143;
       color: #333;
       white-space: nowrap;
       font-size: 13px;
}
.box_dropdown ul a:hover{
       background-color: #eee;
}
.box_dropdown ul a.active_a {
       background-color: #337ab7;
       color: #fff;
}
.main_menu li {
       display: inline-block;
       margin: 0;
}
.main_menu {
       margin-top: 10px;
       text-align: center;
}
footer.footer_main{
       padding: 20px 0;
       color: #777;
       border-top: 1px solid #e5e5e5;
}
.content_p p,.content_p h1,.content_p h2,.content_p h3,.content_p h4,.content_p h5,.content_p h6,.content_p ul,.content_p img,.content_p ol{
       margin-bottom: 20px;
}
.content_p ul,.content_p ol{
       padding-left: 15px;
}
.list_footer a{
       color: #999;
}
.f_intro{
       text-align: right;
}
.footer_intro {
       border-top: 1px solid #999999;
       padding-top: 30px;
}
.linktop {
       position: relative;
       display: block;
}
.linktop .title{
       font-size: 19px;
       padding: 10px;
       position: absolute;
       left: 10px;
       right: 10px;
       bottom: 10px;
       color: #fff;
       letter-spacing: -1px;
       text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
       z-index: 2;
}
.linktop .title.title_s{
       font-size: 16px;
}

.content_page .title_page {
       padding: 10px 15px;
       border-bottom: 1px solid transparent;
       border-top-left-radius: 3px;
       border-top-right-radius: 3px;
       color: #fff;
       background-color: #337ab7;
       border-color: #337ab7;
       font-size: 16px;
       font-weight: 400;
}
.pd-lr-20 {
       padding-left: 20px;
       padding-right: 20px;
}
.mg-b-30 {
       margin-bottom: 30px;
}
.pd-15 {
       padding: 15px;
}
.item_folder_sidebar a {
       color: #337ab7;
       display: block;
       padding: 5px 15px;
       font-size: 12px;
}
.fb_iframe_widget {
       display: inline-block;
       position: relative;
}
._8f1i {
       background-color: rgba(9, 30, 66);
       border-radius: inherit;
       height: 100%;
       left: 0;
       opacity: 0;
       position: absolute;
       top: 0;
       width: 100%;
}
.main_menu {
       margin-top: 10px;
       text-align: center;
}

#footer {
       overflow: hidden;
       margin: 20px 0 0px 0;
       clear: both;
       background: #DDDDDD;
       border-top: 2px solid #e89126;
       padding: 10px 0 10px 0;
}
.wrapper {
       width: 1200px;
       margin: auto;
       clear: both;
}
#footer .content-ft table {
       width: 100% !important;
}
.footer_tag {
       text-align: center;

       border-top: 0.5px solid #f2f2f2;
       border-bottom: 0.5px solid #f2f2f2;
       padding: 8px 0 6px 0;
}
